# This workflow will create and deploy a site on new tag creation
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Site

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
#    if: ${{ startsWith(github.ref, 'refs/tags/rpm-builder-maven-plugin-') }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Cache local Maven repository
      uses: actions/cache@v5
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Configure Git User
      run: |
        # This sets the name and email for the commits
        git config --global user.name "github-actions[bot]"
        # official github action email
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 17
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.8
    # https://github.com/marketplace/actions/maven-setings-action
    - name: Maven Settings
      uses: s4u/maven-settings-action@v4.0.0
      with:
        sonatypeSnapshots: true
        githubServer: false
        servers: |
            [{
                "id": "central",
                "username": "${{ secrets.SONATYPE_USERNAME }}",
                "password": "${{ secrets.SONATYPE_PASSWORD }}"
            }]
    - name: SSHAgent
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: Deploy Snapshot
      run: mvn -B -V site site:stage scm-publish:publish-scm
